@import-normalize; /* bring in normalize.css styles */

body {
  background:white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  margin: 0;
  overflow: hidden;

  color: black;
}
